body {
  background-color: #ADD8E6;
  border:solid black 3px;
  margin: auto;
}
h1 {
color: black;
font-size: 30px;
font-weight: bold;
}
.meats {
  border: solid white 2px;
  padding: 2px;
  margin: 1px;
}